<app-page-breadcrumb [breadcrumbs]="breadcrumbs" />
<div class="space-y-6">
  <app-component-card>
    <div>
      
        @if (loadingUsers) {
          <div>Loading users...</div>
        }
        
        @if (errorUsers) {
          <div>{{ errorUsers }}</div>
        }
        
        @if (!loadingUsers && !errorUsers) {
          <app-topic-users-table
            [users]="users"
            [topic]="topic"
            (manageClick)="openUsersTopicForm($event)"
          ></app-topic-users-table>
        }
    </div>
    <div>
        @if (loadingNotifications) {
          <div>Loading notifications...</div>
        }
        
        @if (errorNotifications) {
          <div>{{ errorNotifications }}</div>
        }
        
        @if (!loadingNotifications && !errorNotifications) {
          <app-topic-notifications-table 
            [notifications]="notifications"
          ></app-topic-notifications-table>
        }
      
    </div>
  </app-component-card>
</div>