<app-page-breadcrumb pageTitle="Topic Details" />
<div class="space-y-6">
  <div>
    <app-component-card title="User Lists">
      <!-- @if (loading) {
        <div>Loading topics...</div>
      }
      
      @if (error) {
        <div>{{ error }}</div>
      }
      
      @if (!loading && !error) {
        <app-topic-details-table 
        [users]="users"
        (editClick)="openEdit($event)"
        (detailsClick)="openTopicDetails($event)"
        ></app-topic-details-table>
      } -->
      <app-topic-users-table/>
    </app-component-card>
  </div>
  <div>
    <app-component-card title="Notification Lists">
      <!-- @if (loading) {
        <div>Loading topics...</div>
      }
      
      @if (error) {
        <div>{{ error }}</div>
      }
      
      @if (!loading && !error) {
        <app-topic-details-table 
        [users]="users"
        (editClick)="openEdit($event)"
        (detailsClick)="openTopicDetails($event)"
        ></app-topic-details-table>
      } -->
      <app-topic-notifications-table/>
    </app-component-card>
  </div>
</div>